<div class="brochures itn-green-bg">
  <div class="jumbotron section .first-hero" id="first-hero-brochures">
    <h1>Brochure Downloads</h1>
  </div><!--first-hero-->
  
  <div class="container-fluid" style="width:75%;margin:auto;background:white">    
    <div class="jumbotron section mb-100" style="background:white">
      <h2 class="mt-25" style="color:#399eaa">Download and print brochures here.  If your organization would like brochures dropped off on an on-going basis, please call us at (207) 854-0505.</h2>
      <hr align="left" width="35%" style="border:none;height:5px;color:#fc6d6d;background-color:#fc6d6d;">
      
      <p class="mt-50">If you're interested in distributing our brochures at your office or know of somewhere people could benefit from our service. Please feel free to download and print them.</p>
      
      <div class="row mt-100">
        <div class="col-md-6">
          <a ng-click="redirectToURL(assetsPath + '/images/docs/brochures/MemberBroch.pdf')" target="_blank">
            <h3 class="mt-50">ITN<em>Portland</em> Membership Brochure</h3>
          </a>
          
          <a ng-click="redirectToURL(assetsPath + '/images/docs/brochures/MemberBroch.pdf')" target="_blank">
            <img ng-src='{{assetsPath}}/images/docs/brochures/MemberBroch-thumbnail.png' style="height:400px" alt='membership brochure thumbnail'/>
          </a>
        </div><!--col-md-6-->

        <div class="col-md-6">
          <a ng-click="redirectToURL(assetsPath + '/images/docs/brochures/VolunteerBroch.pdf')" target="_blank">
            <h3 class="mt-50">ITN<em>Portland</em> Volunteer Driver Brochure</h3>
          </a>
          
          <a ng-click="redirectToURL(assetsPath + '/images/docs/brochures/VolunteerBroch.pdf')" target="_blank">
            <img ng-src='{{assetsPath}}/images/docs/brochures/VolunteerBroch-thumbnail.png' style="height:400px" alt='volunteer brochure thumbnail'/>
          </a>
        </div><!--col-md-6-->
      </div><!--row-->
      
      <div class="row">
        <div class="col-md-6">
          <a ng-click="redirectToURL(assetsPath + '/images/docs/brochures/CarTradeBroch.pdf')" target="_blank">
            <h3 class="mt-100">ITN<em>Portland</em> CarTrade™ Brochure</h3>
          </a>
          
          <a ng-click="redirectToURL(assetsPath + '/images/docs/brochures/CarTradeBroch.pdf')" target="_blank">
            <img ng-src='{{assetsPath}}/images/docs/brochures/CarTradeBroch-thumbnail.png' style="height:400px" alt='cartrade brochure thumbnail'/>
          </a>
        </div><!--col-md-6-->
      </div><!--row-->
      
    </div><!--jumbo-->
    
  </div><!--container-->
</div><!--brochures-->  