<div class="fine-rides" style="font-size:20px;line-height:1.3;background:#f8fafa;color: #399eaa;font-weight: bold;text-align:justify">
  <div class="jumbotron section .first-hero" id="first-hero-fine">
    <h1>Fine Rides for Fine Arts</h1>
  </div><!--first-hero-->
  
  <div class="container-fluid" style="border-left:7px ridge #fc6d6d;border-right:7px ridge #fc6d6d;padding:0 10%">
    
    <div class="itn-title" style="display:inline-block;margin-top:100px;">
      <h2>Join the Culture of Kindness.<br>
        Become an ITN volunteer driver and help older people enjoy the arts.
      </h2>
      <hr align="left" width="35%">
    </div><!--itn-title-->
    
    <!-- <h2 class="mt-100 mb-50 ta-center" style="float:left">Join the Culture of Kindness, with the ITN Fine Rides for Fine Arts volunteer team!</h2> -->
    
    <div class="row">
      <div class="col-sm-12 mt-50">
        <img ng-src='{{assetsPath}}/images/selects_020.JPG' style="height:400px;display:block;margin:auto;border: 5px solid #399eaa;border-radius:5px" alt='image of volunteer driver helping rider out of car'/>
      </div>
    </div>

    <p class="mt-50"><span style="font-size:450%;color:#399eaa;line-height:0.7">W</span>ith a grant from the Rines Thompson Foundation, the Independent Transportation Network of Portland has joined with the <a href="https://www.portlandstage.org/" style="color:#399eaa">Portland Stage Company</a> and the <a href="http://www.portlandsymphony.org/" style="color:#399eaa">Portland Symphony Orchestra</a> to launch the <em>Fine Rides for Fine Arts</em> program to engage people who appreciate the arts in a volunteer driver program that helps older people attend concerts and plays.</p>

    <p class="mt-25">Through ITN’s Culture of Caring, volunteer drivers earn credits for driving. By donating their credits to a Road Scholarship Fund for the <em>Fine Rides for Fine Arts</em> program, they help older people who need help paying for rides enjoy a symphony or a play.</p>
    
    
    <div class="row mt-50 mb-50">
      <div class="col-sm-6">
        <ul><strong>As a volunteer driver for the <em>Fine Rides for Fine Arts</em> program, you will earn:</strong>
          <li style="margin-top:15px">a free membership for a lower-income senior;</li>
          <li style="margin-top:15px">a $50 cash donation for the Fine Rides for Fine Arts program; and</li>
          <li style="margin-top:15px">transportation credits for all of your volunteer driver miles.</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <img ng-src='{{assetsPath}}/images/selects_007.JPG' style="height:400px;margin-left:15%;border: 5px solid #fc6d6d;border-radius:5px" alt='image of volunteer driver helping rider with cane'/>
      </div>
    </div>
    
    
    <div class="row mt-50 mb-50">
      <div class="col-sm-6">
        <img ng-src='{{assetsPath}}/images/selects_019.JPG' style="height:300px;border: 5px solid #399eaa;border-radius:5px" alt='image of volunteer driver helping rider with cane'/>
      </div>
      <div class="col-sm-6">
        <ul><strong>Who is <em>Fine Rides for Fine Arts</em> for?</strong>
          <li style="margin-top:15px">Are you looking for a pleasant way to meet new people and give back to the community?<br> <a ui-sref="volunteer-app" style="color:#399eaa">Become a volunteer driver.</a></li>
          <li style="margin-top:15px">Do you need a little help with transportation to concerts or plays?<br> <a ui-sref="member-app" style="color:#399eaa">Sign up to become a member.</a></li>
          <li style="margin-top:15px">Do you need help with costs? Ask about the Fine Rides for Fine Arts Road Scholarship fund. Call ITN at 854-0505.</li>
        </ul>
      </div>
    </div>

    
  </div>
</div>