<div class="fine-rides" style="font-size:25px;line-height:1.7;background:#fc6d6d26;color: #fc6d6d;font-weight: bold;text-align:justify">
  <div class="jumbotron section .first-hero" id="first-hero-fine">
    <h1>Fine Rides for Fine Arts</h1>
  </div><!--first-hero-->
  
  <div class="container-fluid" style="border-left:7px ridge #fc6d6d;border-right:7px ridge #fc6d6d;padding:0 10%">
    
    <div class="itn-title" style="display:inline-block;margin-top:100px;">
      <h2>Join the Culture of Kindness, with the ITN Fine Rides for Fine Arts volunteer team!</h2>
      <hr align="left" width="35%">
    </div><!--itn-title-->
    
    <!-- <h2 class="mt-100 mb-50 ta-center" style="float:left">Join the Culture of Kindness, with the ITN Fine Rides for Fine Arts volunteer team!</h2> -->
    
    <div class="row">
      <div class="col-sm-12 mt-50">
        <img ng-src='{{assetsPath}}/images/selects_020.JPG' style="height:400px;display:block;margin:auto;border: 5px solid #fc6d6d;border-radius:5px" alt='image of volunteer driver helping rider out of car'/>
      </div>
    </div>

    <p class="mt-50"><span style="font-size:450%;color:#399eaa;line-height:0.7">F</span>ine Rides for Fine Arts is a collaboration between ITN<em>Portland</em>, the Portland Symphony Orchestra and Portland Stage Company. It pairs volunteer drivers with older arts patrons who otherwise might have to give up their tickets to their favorite performances. The program improves access to the arts for older patrons, and at the same time creates a fund for older riders of limited means to ensure everyone has access to their favorite shows and performances.</p>
    
    <p class="mt-25">Do you want to help others, keep your community arts organizations vibrant and spend your free timemeeting interesting new people? Become a volunteer driver for ITN<em>Portland</em>, and designate your credits to the Fine Rides for Fine Arts program.</p>
    
    <div class="row mt-50 mb-50">
      <div class="col-sm-6">
        <ul>As a Fine Rides driver:
          <li class="mt-25">You’ll receive a free membership to ITN<em>Portland</em> for a lower-income senior.</li>
          <li class="mt-25">You’re enrollment will earn a $50 cash donation for the Fine Rides for Fine Arts program.</li>
          <li class="mt-25">Drive when you have free-time, and the benefit still goes to the Arts Organizations.</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <img ng-src='{{assetsPath}}/images/selects_007.JPG' style="height:400px;margin-left:15%;border: 5px solid #fc6d6d;border-radius:5px" alt='image of volunteer driver helping rider with cane'/>
      </div>
    </div>
    
    <p class="mt-25">Every mile you drive will earn you transportation credits, which you can save for your own future transportation needs, share with someone else in need of transportation, or donate back to ITN<em>Portland</em> for riders in need.</p>
    
    <p class="mt-25">Every Fine Rides trip not only supports the individual rider, but their patronage supports the arts organizations that keep this community vibrant. Join the Culture of Kindness: support your older neighbors while supporting the arts. Become part of Fine Rides for Fine Arts.</p>
    
    <p class="mt-25">To join as a volunteer, download our <a href="#" style="color:#399eaa">Fine Rides for Fine Arts Application.</a></p>
    <p class="mt-25">To join as a rider, download our <a ui-sref="member-app" style="color:#399eaa">Membership Application.</a></p>
    
    <div class="row">
      <div class="col-sm-12 mt-50 mb-100">
        <img ng-src='{{assetsPath}}/images/selects_019.JPG' style="height:400px;display:block;margin:auto;border: 5px solid #fc6d6d;border-radius:5px" alt='image of rider smiling in car'/>
      </div>
    </div>
    
  </div>
</div>