
    <div class="organization">
      <div class="jumbotron section .first-hero" id="first-hero-org">
        <h1>Organization</h1>
      </div><!--first-hero-->
        
        
        
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" ng-click="scrollTo('board')">Board of Directors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="scrollTo('staff')">Staff & Council of Advisors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-click="scrollTo('start')">Start an ITN in your community</a>
          </li>
        </ul>
      
      
      <div class="section-container">
      <div class="container itn-green-bg">
      <section class="org-section" id="board">
        <h1>Board of Directors</h1>
        <div class="row mb-100">
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Patti.png" alt="Patrycja Fortula-Kohn Portrait"/>
            <h2>Patrycja Fortula-Kohn</h2>
            <p class="title">Secretary</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio1 = !showBoardBio1">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio1">
              <p>Patrycja (Patty) is a native of Philadelphia, PA moving to South Portland in 1998 when her husband, Howard, retired after 30 years of driving a bus in Philly. She retired 4 years ago from Dermatology Associates in Portland where she was a Customer Service Billing Specialist. Howard and Patty live at the Betsy Ross House in South Portland with their pride and joy, Bogey Anderson Cooper, their 2-year-old Lynx Point Siamese Cat. They have been ITN members for 4 years. </p>

              <p>Patty is the Secretary of the Betsy Ross House Resident Council. Patty is a strong advocate for ITN and Senior Transportation. Patty is also our Birthday Card person. She sends out the monthly Birthday Cards to our members.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/Michelle.jpg" alt="Michelle Luce portrait"/>
            <h2>Michelle Luce</h2>
            <p class="title">Treasurer</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio2 = !showBoardBio2">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio2">
              <p>Michelle Luce, Vice President/Financial Services Manager of People’s United Bank in Westbrook. Michelle has had a career in banking since 1992. She started out as a summer teller at a small bank in Warren, ME, her hometown. Throughout the past 25 years, Michelle has advanced in her career in banking to hold many positions; most recently, in October of 2015, she was promoted to Financial Services Manager. She has been with the bank since 1999 and has been serving the Westbrook Branch customers for over 14 years. Michelle has received numerous top performer awards for her excellent performance in Long Term Investments and Mortgages. </p>
              <p>She and her team have received awards for excellent customer service, operational excellence and top performing branch in Southern Maine. In 2014, Michelle was awarded with the CEO’s Leadership Award by People's United Bank’s CEO Jack Barnes. She has been an active member of the business community with Westbrook's My Place Teen Center; there she has taught numerous hours of financial literacy to several teens. Michelle volunteers to cook community meals on a monthly basis at the Westbrook Warren Community Church. Michelle also serves on the bank’s Women in Leadership Committee.</p>
            </div>
          </div>
          
          <div class="col-sm-4">
            <img ng-src="{{assetsPath}}/images/board/photo_soon.jpg" alt="Peter Morelli portrait"/>
            <h2>Peter Morelli</h2>
            <p class="title">Board Member</p>
            <button type="button" class="btn btn-lg" ng-click="showBoardBio3 = !showBoardBio3">READ MORE</button>
            
            <div class="showBoardBio" ng-show="showBoardBio3">
              <p>Peter F. Morelli was the Director of Development and previously City Planner for the City of Saco, where he was responsible for planning, economic development, housing and historic preservation for 27 years. He led two comprehensive planning efforts and two downtown plans, rewrote the zoning ordinance, helped to create and administer an historic preservation district, and streamlined the land use approval process. </p>
              <p>He led efforts to rebuild Saco’s beautiful Main Street, built an Amtrak train station, built two business parks and created a business finance agency, and was a co-founder of one of the state’s first Main Street organizations. He earned a masters degree in public policy at Tufts University, is a graduate of the University of Southern Maine, and earned a graduate certificate in Museum Studies from Tufts.</p>
            </div>
          </div><!--col-sm-4-->

        </div><!--row-->
      </section>
      
      
      <section class="org-section" id="staff">
        <h1>Staff & Council of Advisors</h1>
        <div class="container">

          <div class="row mb-100">
            <div class="col-sm-4"></div>
            
            <div class="col-sm-4">
              <img ng-src="{{assetsPath}}/images/board/photo_soon.jpg" alt="Daniel Freund portrait"/>
              <h2>Daniel Freund</h2>
              <p class="title"><strong>Council of Advisors</strong></p>
              <button type="button" class="btn btn-lg" ng-click="showBoardBio11 = !showBoardBio11">READ MORE</button>
              
              <div class="showBoardBio" ng-show="showBoardBio11">
                <p>Bio coming soon.</p>
              </div>
            </div>

            <div class="col-sm-4"></div><!--marginright 7% on showBoardBio for this one>
          </div><!--row-->
    </div><!--container-->  
  </section>
            
    
      <section class="org-section" id="start">
        <img class="itn-icon" ng-src="{{assetsPath}}/images/icons/itn3.png" alt="ITN icon"/>
        <div class="jumbotron section copy itn-lightgreen-bg">
          <div class="row center-70">
            <div class="col-md-9 ta-center">
              <a class="start-itn" href="https//www.itnamerica.org">Start an ITN in your Community</a>
            </div>
            <div class="col-md-3 mt-25" style="overflow:hidden">
              <img id="flying-bird" ng-src="{{assetsPath}}/images/start-bird.jpg"/>
            </div>
            </div>
        </div><!--jumbo-->
          
        <div class="jumbotron section national">
            <div class="row">
              <div class="col-sm-9 wow fadeInUp" data-wow-duration="2s" style="background: rgba(255,255,255,0.6);">
                <!-- <h2>The Power of a National Network</h2> -->
                  <p>ITN<em>{{affiliate}}</em> is part of the ITN<em>America</em> family, which unites organizations across the country working to support the transportation needs of older people. The ITN<em>America</em> model offers a platform for dignified, sustainable mobility using technological solutions and innovative programming. We welcome your interest, and hope you will consider the benefits of having an ITN affiliate in your area.
                  To learn more, <a ui-sref="contact">contact us </a></p>
              </div><!--national-->
            </div><!--row-->
          </div><!--national-->
            
            <!-- <div class="jumbotron section technology">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-9" style="background: rgba(255,255,255,0.6);">
                <h2>The Power of Technology</h2>
                <p>Our proprietary ITNRides™ software system enables us to leverage our expertise and to simplify operations for all our affiliates.</p>

                <p>It connects every ITN affiliate community into one effective centralized national network that manages the logistics of the senior transportation service, including member and volunteer management and ride scheduling.</p>

                <p>All ITN affiliates access the software through an internet connection and store their information at our secure data center. The collected data is used for a variety of purposes; including helping social researchers better understand senior mobility and its effects on society. ITN technology provides everything needed to deliver logistical efficiency to a very complex problem.</p>

                <p>ITN is quickly linking cities and citizens across the country and that's just the beginning. Soon, ITN will grow beyond the cities and suburbs to the small towns and rural communities where the unmet need is so great. Our goal is to provide the expertise, tools and state-of-the-art technology that will allow small organizations to serve more and more people without additional resources or funds. We call this project ITNEverywhere</p>
              </div>
            </div>
        </div> -->
          </section>

    
      </div><!--lightgreen div-->
    </div><!--organization-->

    <script>
    new WOW().init();
    </script>

